---
import * as content from "../../content/sections/Benefits.md";
const data = content.frontmatter;
---

<div id="benefits" class="py-12 md:py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="section-heading">{data.heading}</div>
      <h2 class="section-title">
        {data.title}
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {
          data.benefits.map((item: any) => (
            <>
              <div class="border-2 border-black bg-white rounded-xl p-6">
                <div class="flex justify-center items-center bg-green-light w-12 h-12 rounded-full">
                  <img style="width: 20px!important;" src={item.icon} alt={item.title} />
                </div>
                <div class="p-2 mt-2 text-left">
                  <div class="font-interBold text-dark-gray">{item.title}</div>
                  <p class="pt-2 text-dark-gray">{item.description}</p>
                </div>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</div>
