---
import IconSearch from "../../assets/svg/icons/Icon-Search.svg";
import IconClock from "../../assets/svg/icons/Icon-Clock.svg";
import IconPiggyBank from "../../assets/svg/icons/Icon-piggy-bank.svg";
import IconCrossHair from "../../assets/svg/icons/Icon-CrossHair.svg";
import IconRunningMan from "../../assets/svg/icons/Icon-RunningMan.svg";
import IconDiagram from "../../assets/svg/icons/Icon-diagram.svg";

var icons = [
  {
    type: "IconSearch",
    src: IconSearch,
  },
  {
    type: "IconClock",
    src: IconClock,
  },
  {
    type: "IconPiggyBank",
    src: IconPiggyBank,
  },
  {
    type: "IconCrossHair",
    src: IconCrossHair,
  },
  {
    type: "IconRunningMan",
    src: IconRunningMan,
  },
  {
    type: "IconDiagram",
    src: IconDiagram,
  },
];

const { data } = Astro.props;
data.cards.map((item: any) => {
  const icon = icons.find((icon: any) => {
    if (icon.type === item.icon) {
      item.icon = icon.src;
    }
  });
});
---

<div class="py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Benefits</div>
      <h2 class="font-interBold text-6xl text-center pt-6 pb-24">
        {data.title}
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {
          data.cards.map((item: any) => (
            <>
              <div class="border-2 border-black bg-white rounded-xl p-6">
                <div class="flex justify-center items-center bg-green-light w-12 h-12 rounded-full">
                  <img
                    style={`width: ${item.icon.width}px!important; height: ${item.icon.height}px!important`}
                    width={item.icon.width}
                    height={item.icon.height}
                    src={item.icon.src}
                    alt={item.title}
                  />
                </div>
                <div class="p-2 mt-2">
                  <div class="font-interBold text-dark-gray">{item.title}</div>
                  <p class="pt-2 text-dark-gray">{item.description}</p>
                </div>
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</div>
