---
import RequestDemoForm from "../RequestDemoForm.astro";
import ChevronDown from "../../assets/svg/chevron-down.svg";

import * as content from "../../content/sections/Hero.md";
const data = content.frontmatter;
---

<div class="pt-12 pb-24 md:pt-48 md:pb-56 dunes-right">
  <div class="content-wrapper">
    <div class="content-hero">
      <div class="font-interRegular text-center text-4xl md:text-6xl">
        {data.heading}
      </div>
      <h2 class="font-interBold text-4xl md:text-6xl text-center pb-6" set:html={data.title} />
      <p class="text-center text-base md:text-2xl font-interRegular" set:html={data.subtitle} />
      <div class="reguest-demo-header max-w-2xl mx-auto pt-12">
        <RequestDemoForm formId="request-demo" buttonText={data.buttonText} type="demo" />
      </div>
      <div class="grid grid-cols-3 gap-4 py-12 md:py-24 max-w-4xl mx-auto">
        <div class="md:flex justify-center items-center text-center pb-6 md:pb-0">
          <div
            class="flex justify-center items-center bg-green-light w-9 md:w-12 h-9 md:h-12 rounded-full md:mr-6 mx-auto mb-3 md:mb-0"
          >
            <img class="w-3 md:w-5" src="/svg/icons/Icon-Checkmark.svg" alt="Checkmark icon" />
          </div>
          <div class="font-interSemibold text-xs md:text-lg">Get accurate data</div>
        </div>
        <div class="md:flex justify-center items-center text-center pb-6 md:pb-0">
          <div
            class="flex justify-center items-center bg-green-light w-9 md:w-12 h-9 md:h-12 rounded-full md:mr-6 mx-auto mb-3 md:mb-0"
          >
            <img class="w-3 md:w-5" src="/svg/icons/Icon-Checkmark.svg" alt="Checkmark icon" />
          </div>
          <div class="font-interSemibold text-sm md:text-lg">Be in control</div>
        </div>
        <div class="md:flex justify-center items-center text-center pb-6 md:pb-0">
          <div
            class="flex justify-center items-center bg-green-light w-9 md:w-12 h-9 md:h-12 rounded-full md:mr-6 mx-auto mb-3 md:mb-0"
          >
            <img class="w-3 md:w-5" src="/svg/icons/Icon-Checkmark.svg" alt="Checkmark icon" />
          </div>
          <div class="font-interSemibold text-sm md:text-lg">Easy to install</div>
        </div>
      </div>

      <div class="flex justify-center">
        <a href="#howitworks">
          How it works<br />
          <img class="mx-auto" src={ChevronDown.src} alt="Down arrow" />
        </a>
      </div>
    </div>
  </div>

  <style lang="less">
    .content-hero {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      height: 100%;
      .reguest-demo-header {
        input,
        button {
          width: 100%;
          max-width: 320px;
          height: 56px;
        }
      }
    }
  </style>
</div>
