---
import SignUpButtonPricing from "./SignUpButtonPricing.astro";
const {planType, plans} = Astro.props;

const plan = plans.find((plan) => {
  if (plan.type === planType) {
    return plan;
  }
});
---

<div class="font-interMedium text-2xl pb-3">{plan.title}</div>
<div class="font-interRegular">{plan.price}</div>
<div class="py-6 font-interRegular text-xs" set:html={plan.description} />

<ul class="price-list text-left pb-12 flex-grow font-interRegular">
  {
    plan.features.map((feature) => {
      return <li class={feature.active ? "" : "inactive"}>{feature.text}</li>;
    })
  }
</ul>

<SignUpButtonPricing buttonText={plan.buttonText} plan={plan.type} />

<style lang="less">
  .price-list {
    list-style-image: url("/svg/checkmark.svg");
    padding: 1rem 0 1rem 1.1rem;
    li {
      margin-bottom: 0.5rem;
      color: #000;

      &.inactive {
        text-decoration: line-through;
        list-style: none;
        color: #333;
      }
    }
  }
</style>
