---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "animate.css";
import {Schema} from "astro-seo-schema";
import SignUpOverlay from "../components/SignUpOverlay.astro";
import "../assets/css/fonts.less";
import "../assets/css/klaro.less";

const {pageContent, faqStructuredData} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{pageContent.frontmatter["meta-title"]}</title>
    <!--Meta -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageContent.frontmatter["meta-description"]} />
    <meta name="author" content="Tagglo" />
    <meta
      name="robots"
      content={pageContent.frontmatter.indexed
        ? "index, follow"
        : "noindex, nofollow, noimageindex, nosnippet, noarchive, nocache"}
    />
    <meta
      name="googlebot"
      content={pageContent.frontmatter.indexed
        ? "index, follow"
        : "noindex, nofollow, noimageindex, nosnippet, noarchive, nocache"}
    />

    <meta name="og:title" property="og:title" content={pageContent.frontmatter["meta-title"]} />
    <meta
      name="og:description"
      property="og:description"
      content={pageContent.frontmatter["meta-description"]}
    />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:url" property="og:url" content={Astro.url.href} />
    <meta name="og:site_name" property="og:site_name" content="Tagglo.se" />
    <meta
      name="og:image"
      property="og:image"
      content={Astro.url.host + "/Tagglo-opengraph-image.png"}
    />
    <meta name="twitter:title" content={pageContent.frontmatter["meta-title"]} />
    <meta name="twitter:description" content={pageContent.frontmatter["meta-description"]} />

    <!--Icons -->
    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="icon" href="favicon.svg" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#7c3aed" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />

    <!-- <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'LocalBusiness',
        name: 'Tagglo',
        url: 'https://Tagglo.se/',
        image: 'http://Tagglo.se/Tagglo_logo.png',
        sameAs: [
          'https://se.BlockTrustpilot.com/review/Tagglo.se',
          'https://www.facebook.com/Tagglo.se/',
          'https://www.linkedin.com/company/Tagglo/',
          'https://www.youtube.com/channel/UCLXEYlvWo16tVFDXScy54Ew',
        ],
        logo: 'http://Tagglo.se/Tagglo_logo.png',
        address: {
          '@type': 'PostalAddress',
          streetAddress: 'Skeppargatan 26',
          addressRegion: 'Stockholm',
          postalCode: '114 52',
          addressCountry: 'Sverige',
        },
        openingHours: ['Mo,Tu,We,Th,Fr,Sa,Su 00:00-00:00'],
        telephone: '0770330777',
        priceRange: '5000 - 600000',
      }}
    />
    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'FinancialService',
        legalName: 'Tagglo Ekonomi Sverige AB',
        name: 'Tagglo',
        logo: 'http://Tagglo.se/Tagglo_logo.png',
        image: 'http://Tagglo.se/Tagglo_logo.png',
        telephone: '0770330777',
        url: 'https://Tagglo.se/',
        email: 'kontakt@Tagglo.se',
        address: {
          '@type': 'PostalAddress',
          streetAddress: 'Skeppargatan 26',
          addressLocality: 'Stockholm',
          postalCode: '114 52',
        },
        openingHours: ['Mo,Tu,We,Th,Fr,Sa,Su 00:00-00:00'],
        priceRange: '5000 - 600000',
      }}
    /> -->
    {
      faqStructuredData ? (
        <Schema
          item={{
            "@context": "https://schema.org",
            "@type": "FAQPage",
            mainEntity: faqStructuredData,
          }}
        />
      ) : null
    }

    <!-- Google Tag Manager -->
    <script data-name="google-tag-manager">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T9P3S58");
    </script>
    <!-- End Google Tag Manager -->

    <script>
      import * as Klaro from "klaro/dist/klaro-no-css";
      import {klaroConfig} from "../assets/js/klaro-config";
      window.klaro = Klaro;
      window.klaroConfig = klaroConfig;
      Klaro.setup(klaroConfig);
    </script>
  </head>

  <body id="start" class="antialiased font-regular text-base md:text-lg">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        data-name="google-tag-manager"
        src="https://www.googletagmanager.com/ns.html?id=GTM-T9P3S58"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main><slot /></main>
    <SignUpOverlay />
    <Footer />

    <style lang="less" is:global>
      body {
        @apply font-interMedium bg-desert;
        color: #333;
      }
      html {
        scroll-behavior: smooth;
      }
      * {
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-font-smoothing: antialiased;
      }

      *:focus {
        outline: none;
      }

      .content-wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0 15px;
        margin: 0 auto;

        .content {
          width: 100%;
          max-width: 1040px;
          margin: 0 auto;
          height: 100%;
          text-align: center;

          .post-image {
            width: 100%;
            max-width: 647px;
            height: auto;
            margin: 0 auto;
            display: block;
          }
        }
      }
      .dunes-right {
        overflow: hidden;
        background-image: url("../assets/svg/dunes-sections-desktop.svg");
        background-color: #fffef2;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        margin: 0 auto;
        @media (max-width: 500px) {
          background-image: url("../assets/svg/dunes-sections-mobile.svg");
        }
      }
      .dunes-left {
        overflow: hidden;
        background-image: url("../assets/svg/dunes-sections-desktop.svg");
        background-color: #fffef2;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        margin: 0 auto;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        @media (max-width: 500px) {
          background-image: url("../assets/svg/dunes-sections-mobile.svg");
        }
      }
      .section-heading {
        @apply inline-block mx-auto font-interSemibold text-center text-base md:text-lg bg-green-light px-2 py-1;
        color: #103e2b;
      }
      .section-title {
        @apply font-interBold  text-2xl md:text-6xl text-center pt-6 pb-12 md:pb-24;
      }

      ul {
        list-style: disc;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        li {
          margin-bottom: 0.5rem;
        }
      }
    </style>
  </body>
</html>
